@charset "UTF-8";

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
	font-size: 62.5%;
	font-size: 100%;
  vertical-align:baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article, header, footer, aside, figure, figcaption, nav, section { 
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body {
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Arial',sans-serif;  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

a { 
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

header {
	width: 100%;
}

.header-title {
	display: none;
}

.nav-toggle {
	display: none;
	position: fixed;
}

.sidebar-sp {
	position: fixed;
	top: 52px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: #fff;
	transition: opacity .6s ease, visibility .6s ease;
	display: none;
	height: 400px;
}

main {
	width: 100%;
}

.MENU {
	width: 20%;
	position: fixed;
	top: 0;
	right: 0;
}

.sidebar {
	width: 150px;
	margin: auto;
}

.sidebar-container h1 {
	margin: 24px 0;
}

.main-menu {
	text-align: left;
	margin: auto;
}

.main-menu li {
	margin-top: 16px;
}

.main-menu li a {
	font-size: 16px;
}

.main-menu li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.main-menu li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: rgb(187, 184, 184);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.main-menu li a:hover::after {
  transform: scale(1, 1);
}

.sns {
	width: 100%;
	margin-top: 24px;
}

article {
	width: 80%;
	background: rgba(218,218,218);
}

/* kv */

.kv {
	width: 100%;
}

.kv-image {
	width: 80%;
	height: 700px;
}

.kv-image img {
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.kv-image .object-fit-img {
	object-fit: cover;
	font-family: 'object-fit: cover';
}

/* about */

.about {
	padding-top: 80px;
}

.about-area {
	width: 80%;
	margin: auto;
}

.about-title {
	text-align: center;
}

.about-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	display: inline-block;
	padding-bottom: 16px;
}

.about-text {
	width: 100%;
	margin: 48px auto;
	font-size: 20px;
	text-align: center;
	line-height: 1.8;
}

.typ {
  opacity: 0;
  }
.typ span {
  opacity: 0;
  }

/*profile*/

.profile-area {
	width: 100%;
}

.profile-title {
	text-align: center;
	padding-top: 64px;
}

.profile-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	display: inline-block;
	padding-bottom: 16px;
}

.profile-text {
	width: 100%;
	max-width: 700px;
	margin: 50px auto;
}

.profile-text ul {
	max-width: 480px;
	width: 100%;
	margin-top: 24px;
	margin: auto;
}

.profile-text ul li {
	font-size: 16px;
	margin-top: 16px;
}

/*skill*/

#skill {
	margin-top: 80px;
}

.skill-area {
	width: 80%;
	margin: auto;
}

.skill-title {
	text-align: center;
}

.skill-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	display: inline-block;
	padding-bottom: 16px;
}

.skill-text {
	width: 100%;
	margin: auto;
}

.skill-text ul {
	display: flex;
	margin-top: 48px;
	justify-content: space-between;
}

.skill-text ul li {
	width: 160px;
	text-align: center;
}

.skill-text ul li p {
	font-size: 24px;
	text-align: center;
	margin-top: 16px;
}

.skill-icon {
	font-size: 112px;
}

/*service*/

#service {
	margin-top: 112px;
}

.service-title {
	text-align: center
}

.service-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	padding-bottom: 16px;
	display: inline-block;
}

.service-container {
	width: 80%;
	margin: auto;
	margin-top: 72px;
}

.service-text {
	width: 100%;
	margin-left: 48px;
}

.service-text h3 {
	font-size: 24px;
}

.service-text p {
	margin-top: 32px;
	font-size: 16px;
}

.service {
	display: flex;
	margin-top: 48px;
}

.service-image {
	width: 100%;
}

.service-image img {
	width: 100%;
	max-width: 400px;
	height: 250px;
	object-fit: cover;
}

.service-image .object-fit-img {
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.service-text {
	width: 100%;
	max-width: 700px;
	margin-left: 48px;
}

.service-text h3{
	font-size: 24px;
}

.service-text p {
	font-size: 16px;
	margin-top: 16px;
}

.service-text p:first-child {
	margin-top: 24px;
}

.service-text p	a {
  position: relative;
  display: inline-block;
	margin-top: 8px;
}

.service-text p a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #aaa;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
}

.service-text p a:hover::after {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}


/* service-list */

.service-list {
	width: 100%;
	max-width: 600px;
	margin: 64px auto;
}

.service-list tr th {
  width: 40%;
  max-width: 250px;
	background: rgba(218,218,218);
  font-size: 16px;
  font-weight: bold;
  color: #111;
	padding: 20px;
	border: solid 1px #111;
	text-align: center;
}

.service-list tr td {
	background-color: #F6F6F6;
  font-size: 16px;
  font-weight: bold;
	padding: 20px;
	border: solid 1px #111;
	text-align: center;
}

/*work*/

#work {
	margin-top: 112px;
}

.work-title {
	text-align: center
}

.work-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	padding-bottom: 16px;
	display: inline-block;
}

.work-container {
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.work-box {
	width: calc(50% - 30px);
	margin: 50px 0 0 30px;
	text-align: center;
}

.work-image {
	width: 100%;
}

.work-image a:hover {
	opacity: 0.5;
}

.work-image img {
	width: 100%;
	max-width: 400px;
	height: 400px;
	object-fit: cover;
	object-position: top center;
}

.work-image  .object-fit-img {
	object-fit: cover;
	object-position: top center;
	font-family: 'object-fit: cover; object-position: top center;';
}

.work-text {
	width: 100%;
	max-width: 400px;
	height: 30px;
	margin: 20px auto;
	text-align: left;
}


/*contact*/

#contact {
	margin-top: 112px;
}

.contact-wrapper {
	text-align: center;
}

.contact-title {
	text-align: center 
}

.contact-title h2 {
	font-size: 32px;
	font-weight: bold;
	border-bottom: 2px solid #222;
	padding-bottom: 16px;
	display: inline-block;
}

.contact-text {
	width: 60%;
	max-width: 700px;
	margin: 48px auto 0;
}

.contact-text p {
	font-size: 16px;
	text-align: left;
	margin-top: 16px;
}

.contact-text a:hover {
	font-weight: bold;
	opacity: 0.8;
}

.contact-button {
	display: inline-block;
	text-align: center;
	margin: 24px auto;
	background-color: #4e4e4e;
	border: #222 solid 1px;
	border-radius: 16px;
	padding: 8px 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}

.contact-button a {
	color: #fff;
}

.contact-button a:hover {
	opacity: 0.6;
}

/* footer */

footer {
	width: 80%;
	background: rgba(218,218,218);
}

.footer {
	text-align: center;
	padding-top: 64px;
	padding-bottom: 24px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
	.MENU {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	header {
		width: 100%;
		height: 70px;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		background: #fff;
	}

	#nav-toggle {
		display: block;
		position: relative;
		width: 36px;
		height: 28px;
		cursor: pointer;
		left: 90%;
		bottom: 24px;
	}

	#nav-toggle span {
		display: inline-block;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #000;
		transition: all .5s .2s;
	}

	#nav-toggle span:nth-child(2) {
		top: 8px;
	}

	#nav-toggle span:nth-child(3) {
		top: 16px;
	}

	.header-title {
		display: block;
		text-align: center;
	}

	.header-title h1 {
		padding-top: 16px;
	}
	
  .sidebar-sp {
		width: 100%;
		margin: 0;
	}
	
	header .main-menu li {
		margin-top: 32px;
		padding-left: 32px;
	}
	
	header .sns {
		margin-left: 32px;
	}

	.sns li a i:hover {
		opacity: 0.7;
	}
}

@media screen and (max-width: 768px) {
	article {
		width: 100%;
		overflow: hidden;
	}

	/* kv */

	.kv-image {
		width: 100%;
		height: auto;
	}

	/* about */

	.about-text {
		width: 100%;
		max-width: 500px;
		font-size: 18px;
	}

	/*profile*/

	#profile {
	margin-top: 52px;
	}

	/*skill*/

	.skill-text ul {
		display: block;
		width: 200px;
		margin: 48px auto 0;
	}

	.skill-text ul li {
		width: auto;
		text-align: center;
		margin-top: 56px;
	}

	.skill-text ul li p {
		margin-top: 8px;
	}

	/*service*/

	.service01 {
		display: block;
	}

	.service-image01 {
		text-align: center;
	}

	.service-text {
		margin-top: 56px;
	}
	.service02 {
		display: block;
	}

	.service-image02 {
		height: 250px;
		text-align: center;
	}

	.service-text02 {
		width: 100%;
		max-width: 400px;
		margin-top: 88px;
	}

	/*work*/

	.work-image img {
		height: 300px;
	}

	/*footer*/

	footer {
		width: 100%;
	}
}


@media screen and (max-width: 426px) {
	/* kv */
	.kv-image {
		width: 100%;
		height: 300px;
		margin-top: 20px;
	}

	.kv-image img {
		min-height: unset;
	}

	.kv-image .object-fit-img {
		object-fit: cover;
		font-family: 'object-fit: cover;';
	}

	/* about */

	.about-text {
		font-size: 16px;
		line-height: 1.2;
	}

/* profile */

	.profile-text {
		max-width: 300px;
	}

	.profile-text ul li {
		font-size: 14px;
	}

	/*skill*/

	#skill {
		margin-top: 80px;
	}

	/*service*/

	.service-image {
		margin: auto;
	}

	.service-text {
		margin-top: 16px;
	}

	.service-text h3 {
		font-size: 20px;
	}

	.service-text p {
		font-size: 14px;
	}

	/* service-list */

	.service-list {
		max-width: 250px;
		border: solid 1px rgb(72, 72, 72);
	}

	.service-list tr {
		display: flex;
		flex-direction: column;
	}

	.service-list tr th {
		width: 100%;
		max-width: 250px;
		font-size: 14px;
		text-align: center;
		border: none;
	}

	.service-list tr td {
		text-align: center;
		border: none;
	}

	/*work*/

	.work-container {
		flex-direction: column;
	}

	.work-box {
		width: 100%;
		max-width: 300px;
		margin: 40px auto;
	}

  .work-image img {
		width: 300px;
		height: 200px;
	}

	.work-text p {
		font-size: 14px;
	}

	/*contact*/ 

	#contact {
		margin-top: 80px;
	}

	.contact-text p {
		font-size: 14px;
	}
}